.pageContent {
    padding: 0;
}

.introSection {
    background: antiquewhite;
    color: #596370;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    width: 25%;
    text-align: center;
    padding-top: 100px;
}

.introSection .photo {
    width: 180px; /* TODO: resize the photo width */
}

.contentSection {
    margin-left: 25%;
    padding: 10px 100px 60px 100px;
}

.contentSection b {
    font-weight: 400;
}

.contentSection p {
    line-height: 26px;
    font-weight: 300;
}

.contentSection section {
    padding-top: 10px;
}

/* .contentSection table {
    width: 100%;
}

.abilityIcon {
    width: 78px;
    display: inline-block;
}

.ablilityBlock {
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 60px;
} */

.shortDescription {
    font-size: 14px;
    margin-top: -10px;
}

.downloadCV {
    text-align: center;
    margin-top: 80px;
}

.downloadCV a {
    background: #fffff5;
    color: #de6631;
    border: 0;
    border-radius: 0;
    padding: 18px 30px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: linear 100ms;
    text-decoration: none;
}

.downloadCV a:hover {
    opacity: 1;
}

.education li {
    margin-top: 40px;
} 