/* ============== Body ============== */
body{
    font-family: "brandon-grotesque,HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight: 400;
    background: #FFFFF5;
    color: #596370;
    letter-spacing: 1.2px;
}

h1{
    font-weight: 400;
}

/* ============== Navigation Bar ============== */
nav#NavBar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background: #de6631;
    z-index: 999;
    box-shadow: rgba(0,0,0,0.5) 0 2px 8px;
}

#Logo{
    position: absolute;
    margin: 20px 0 0 100px;
    width: 110px;
}

#NavMenu{
    float: right;
    margin-right: 100px;
}

#NavMenu ul{
    list-style: none;
}

#NavMenu ul li{
    display: inline-block;
    margin-top: 8px;
    margin-left: 60px;
}

#NavMenu ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #FFFFF5;
}


#NavMenu ul li:hover a, 
#NavMenu ul li.active a{ 
    color: #FFFFF5;
    border-bottom: 7px solid;
    border-image:url(../images/line_white.svg) 0 0 20 0 repeat; 
    transition: 0.1s linear;
}    

#NavMenu .homeIcon{
    width: 18px;
}

/* ============== Page Content ============== */
.pageContent{
    margin-top: 120px;
    padding: 0 100px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 40px;
    color: #de6631;
}